    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    opacity: .5

    #menu-toggle:hover,
#menu-toggle.toggled:hover {
    opacity: 1
}

opacity: .5;